

<md-toolbar>
    <div class="md-toolbar-tools">
        <p><strong>ngClassifieds</strong></p>
        <md-button ng-click="vm.openSidebar()" >
            <md-icon class="mdi mdi-plus-circle"></md-icon>
            New Classified
        </md-button>
        <md-button ng-click="showFilters=true"
                   ng-show="!showFilters">
            <md-icon class="mdi mdi-magnify"></md-icon>
            Filter Classifieds
        </md-button>
        <md-button ng-click="showFilters=false;classifiedsFilter = '';category=''"
                   ng-show="showFilters">
            <md-icon class="mdi mdi-filter-remove"></md-icon>
            Hide Filter
        </md-button>
    </div>
</md-toolbar>

<div class="filters"  layout="row" layout-align="center center" ng-show="showFilters">
    <md-input-container  layout="row">
        <label>Enter Search Item</label>
        <input type="text" ng-model="classifiedsFilter">
    </md-input-container>
    <md-input-container>
        <label>Categories</label>
        <md-select ng-model="category">
            <md-option ng-repeat="category in vm.categories" value="{{category}}">{{category}}</md-option>
        </md-select>
    </md-input-container>

    <div layout="row">
        <md-button ng-click="classifiedsFilter = '';category=''" class="md-warn">
            <md-icon class="mdi mdi-minus-circle"></md-icon>
            Clear
        </md-button>
    </div>
</div>


<ui-view></ui-view>

<md-content class="md-padding" layout="row" layout-wrap>
    <md-card ng-repeat="classified in vm.classifieds
                 |filter:classifiedsFilter
                 |filter :category"
             flex="30" class="classified">
        <md-card-content>
            <img ng-src="{{ classified.image }}" class="md-card-image">
            <div class="classified-info">
                <h2 class="md-title">{{ classified.title }}</h2>
                <h3>{{classified.posted|date}}</h3>
                <h3>{{ classified.price | currency }}</h3>
                <div class="classified-details" ng-show="!showContact">
                    <p>{{ classified.description }}</p>
                </div>
            </div>

            <div class="classified-contact" ng-show="showContact">
                <p><md-icon class="mdi mdi-account"></md-icon>{{classified.contact.name}}</p>
                <p><md-icon class="mdi mdi-phone"></md-icon>{{classified.contact.phone}}</p>
                <p><md-icon class="mdi mdi-email"></md-icon>{{classified.contact.email}}</p>
            </div>

            <div class="classified-buttons">
                <md-button
                        ng-click="showContact=true"
                        ng-show="!showContact"
                >Contact</md-button>
                <md-button
                        ng-click="showContact=false"
                        ng-show="showContact"
                >Details</md-button>
                <md-button
                        ng-click="showAdmin=true"
                        ng-show="!showAdmin"
                >Admin</md-button>
                <md-button
                        ng-click="showAdmin=false"
                        ng-show="showAdmin"
                >Close</md-button>
            </div>
            <div class="classified-admin" ng-show="showAdmin">
                <md-button class="md-primary" ng-click="vm.editClassified(classified)">Edit</md-button>
                <md-button class="md-warn" ng-click="vm.deleteClassified($event,classified)">Delete</md-button>
            </div>
        </md-card-content>
    </md-card>
</md-content>
